  body  {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: white;  
  max-width: 880px;
  margin: 0 auto; 
  margin-top: 20px;
  background-size: 100% 150%;
  background-position: 0px 0px;
  background-image: linear-gradient(224deg, #EBFF00FF 0.5%, #EBFF00FF 1%, #71C4FFFF 40%);
  background-repeat: no-repeat;}
  
  #innerpage {background-color: black;
	      opacity: 0.85;
	      border: 5px solid;
	      border-radius: 25px;
	      margin: auto;}

  #main_temp {margin-left: 350px;}

  #temp {float: left;font-size: 26px;}

  #TIME{margin-left: 720px; font-size: 19px; margin-top: -35px;}
  
  #bar {margin-left: 305px; text-align: center;}

  #link_str {float: left; background: url('img/search.jpg'); no-repeat; font-size: 19px;}

  #temp {margin-left: 10px;}

  #link_id {float: left; font-size: 20px;}

  #main_img {display: inline-block;
		 float: left;
		 margin-left: 10px;
		 margin-top: -6px;}
  
  #ul { font-size: 15px;
       font-weight: bold;
       color: white;
       margin-left: 15px;
       list-style-type: ">> "; }
  
  a { color: #89CFF0;
      font-style: bold;
      font-size: 19px;
      text-decoration: none;}
  
  h1 { margin-left: 300px;
      font-size: 22px; }

  h2, h3, h4 { margin-left: 10px;
       margin-right: 10px;
       border: 5px;
       border-bottom-style: solid;
       border-color: #ffffff;
       font-size: 21px;}

  
  #links {margin-left: 10px;}

  #newsdiv {
      margin-left: 10px;
      margin-right: 5px;
      margin-bottom: 20px;}


  #redsearch {
      margin-left: 3px;
      margin-bottom: 20px;
      float: left;
      font-size: 19px;
}

  #Techbutton {
      padding: 6px 10px;
      font-size: 17px;
      border-color: black;
      border: 3px solid;
      border-radius: 15px;}

  #reloadbutton {
  padding: 6px 10px;
  font-size: 17px;
  background-color: #ff6347;
  border: 2px solid;
  border-color: black;
  border-radius: 15px;}

  #scrollmenu {
      display: inline-block;
      margin-left: 90px;
      overflow: auto;
      white-space: nowrap;
      font-size: 23px;}

  #location {
      overflow: auto;
      white-space: nowrap;
      margin: auto;
      text-align: center; 
      font-style: bold;
      font-size: 18px;}

  #refresh_weather {
  margin-left: 160px;
  margin-top: -10px;
  padding: 6px 10px;
  font-size: 17px;
  background-color: #ff6347;
  border: 2px solid;
  border-color: black;
  border-radius: 15px;}

  #linkcontainer {
      text-align: center;
      margin-bottom: 220px;
      margin-left: 25px;
      margin-top: -15px;}

  #general, #work, #practice {
      display:inline;
      float: left; 
      margin-left: 90px;}

  #linktext {
      font-stlye: bold;
      margin-left: 35px;
      font-size: 20px; 
      border-bottom: 3px solid;}

